/* styles.css */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set text color to white and background color to #1d2630 for the entire body */
body {
    color: white;
    background-color: #4f4f53;
}

/* Center align the "CURD Application" heading */
.heading {
    text-align: center;
    margin-bottom: 2em;
    border-bottom: 2px solid white;
    padding: 2em;
    background-color: black;
}

/* Add margin at the bottom */
/* .mb-5 {
    margin-bottom: 2.5rem;
} */

/* Center the row content */
.main, .main .form {
    justify-content: center;
}

/* Set color, font size, and margin for the heading */
.display-5 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Add margin at the bottom for form elements */
.input {
    margin-bottom: 1rem;
}

/* Set width for form elements */
.tableDiv, .formContent {
    width: 100%;
}

/* Style the labels for form elements */
label {

    display: inline-block;
    margin-bottom: 0.5rem;
    color: #f8f9fa;
    /* Bootstrap default text color for dark mode */
}

/* Style the input fields */
.data {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #f8f9fa;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Style the submit button */
.mainBtn {
    display: flex;
    justify-content: center;
}

.submitBtn {
    display: block;
    font-weight: 400;
    color: #fff;
    width: 70%;
    text-align: center;
    background-color: #007bff;
    /* Bootstrap primary button color */
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-bottom: 2em;
}

/* Style the "Edit" and "Delete" buttons */
.btn {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}
.editBtn {
    color: #212529;
    background-color: #ffc107;
    transition: .4s;
}

.deleteBtn {
    color: #fff;
    background-color: #dc3545;
    transition: .4s;
}
.editBtn:hover {
    color: #212529;
    background-color: #ca9804;
    color: white;
}

.deleteBtn:hover {
    color: #fff;
    background-color: #c01123;
}

/* Style the table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #343a40;
}

/* Style the table headings */
.table th {
    padding: 0.75rem;
    vertical-align: top;
    background-color: rgb(24, 24, 24);
    border-top: 1px solid #dee2e6;
}

/* Style the table rows */
.table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border-right: 1px solid white;
    border-top: 1px solid #dee2e6;
}
.table td a{
  text-decoration: none;
  font-size: 1.3em;
}
